doctype html
html
  head
    title Vladimir Smyshlyaev
    link rel="stylesheet" href="css/evil-icons.css"
    link rel="stylesheet" href="css/app.css"
  body
    .page
      .info
        header
          img src='images/avatar.png' alt='Vladimir Smyshlyaev'
          h1 Vladimir Smyshlyaev
          h5 a.k.a. vforvova

        footer.icons
          a href='https://vk.com/vforvova'
            span.fa-vk
          a href='https://ru.linkedin.com/in/vforvova/'
            span.fa-vk
          a href='https://github.com/vforvova/'
            span.fa-vk
          a href='https://twitter.com/vforvova/'
            span.fa-vk
          a href='https://www.facebook.com/vforvova/'
            span.fa-vk


