$avatar-size: 150px
$page-vertical-margin: $indent * 4

.page
  .info
    width: 700px
    margin: $page-vertical-margin auto
    text-align: center

    img
      border-radius: $avatar-size / 2
      height: $avatar-size
      width: $avatar-size
      margin-bottom: $indent * 2

    footer
      margin-top: 15px
      margin-left: -15px

      a
        margin-left: 15px
        cursor: pointer

        .icon
          cursor: pointer
          width: 60px
          height: 60px
          border: 1px solid $gray-darken
          border-radius: 30px
          fill: $gray-darken

      a:hover
        .icon
          border: 1px solid $gray-darken
          border-radius: 30px
          fill: $gray-darken
